/* Side Navigation push with opacity */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFE81F;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ff0000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
body {
  background-color: #B3B5B9;
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}

.main-title {
  color: #FFE81F;
  text-align: center;
}

#ctn-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

#ctn-planets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#ctn-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 25px;
  background-color: #ffffff;
  width: 250px;
  min-width: 250px;
  word-wrap: wrap;
  text-align: center;
  margin: 15px;
  padding: 5px;  
}

.card-planet {
  border: 3px solid #FFE81F;
}

.card-starships {
  border: 3px solid #FFE81F;
}

.card-people {
  border: 3px solid #FFE81F;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay.active {
  display: flex;
  cursor: wait;
}

/* @media only screen and (max-width: 1000px){
  body {
    font-size: x-large;
  }
  nav {
    height: 125px;
  }

  button {
    height: 20px;
  }
} */