/* Side Navigation push with opacity */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFE81F;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ff0000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url('../PageBackround/vecteezy_blue-motion-abstract-background-vector_7711017.jpg');
  background-size: cover;
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}

.main-title {
  color: #FFE81F;
  text-align: center;
}

#ctn-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

#ctn-planets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#ctn-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  width: 250px;
  min-width: 250px;
  word-wrap: wrap;
  text-align: center;
  margin: 15px;
  padding: 5px; 
  padding: 1em;
  grid-template-rows: 0.1fr 0.7fr 0.25fr;
  background-color: hsl(296, 59%, 10%);
  color:#FFE81F;
  width: 10em;
  aspect-ratio: 9/16;
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 14%, 100% 60%, 92% 65%, 93% 77%, 99% 80%, 99% 90%, 89% 100%, 0 100%);
  clip-path: polygon(0 0, 85% 0, 100% 14%, 100% 60%, 92% 65%, 93% 77%, 99% 80%, 99% 90%, 89% 100%, 0 100%);
  filter: drop-shadow(46px 36px 24px #4090b5) drop-shadow(-55px -40px 25px #364a53);
  animation: blinkShadowsFilter 8s ease-in infinite;
}
.card::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 250%;
  aspect-ratio: 1/1;
  transform-origin: center;
  background: linear-gradient(to bottom, transparent, transparent, #a4a27e, #a4a27e, #364a53, #364a53, transparent, transparent), linear-gradient(to left, transparent, transparent, #a4a27e, #a4a27e, #364a53, #364a53, transparent, transparent);
  animation: rotate 5s infinite linear;
}

.card::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
  background: repeating-linear-gradient(to bottom, transparent 0%, rgba(64, 144, 181, 0.6) 1px, rgb(0, 0, 0) 3px, rgba(64, 144, 181, 0.3019607843) 5px, #153544 4px, transparent 0.5%), repeating-linear-gradient(to left, hsl(295, 60%, 12%) 100%, hsla(295, 60%, 12%, 0.99) 100%);
  box-shadow: inset 0px 0px 30px 40px hsl(296, 59%, 10%);
  -webkit-clip-path: polygon(0 0, 85% 0, 100% 14%, 100% 60%, 92% 65%, 93% 77%, 99% 80%, 99% 90%, 89% 100%, 0 100%);
  clip-path: polygon(0 0, 85% 0, 100% 14%, 100% 60%, 92% 65%, 93% 77%, 99% 80%, 99% 90%, 89% 100%, 0 100%);
}

.card-planet {
  border: 3px solid #364A5C;
}

.card-starships {
  border: 3px solid #364A5C;
}

.card-people {
  border: 3px solid #364A5C;
  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay.active {
  display: flex;
  cursor: wait;
}



@keyframes backglitch {
  0% {
    box-shadow: inset 0px 20px 30px 40px hsl(296, 59%, 10%);
  }

  50% {
    box-shadow: inset 0px -20px 30px 40px hsl(296, 59%, 10.2%);
  }

  to {
    box-shadow: inset 0px 20px 30px 40px hsl(296, 59%, 10%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-50%, 20%);
  }

  50% {
    transform: rotate(180deg) translate(40%, 10%);
  }

  to {
    transform: rotate(360deg) translate(-50%, 20%);
  }
}

@keyframes blinkShadowsFilter {
  0% {
    filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #aba49e);
  }

  25% {
    filter: drop-shadow(46px -36px 24px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 24px #aba49e);
  }

  50% {
    filter: drop-shadow(46px 36px 30px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 30px rgba(159, 48, 169, 0.2941176471));
  }

  75% {
    filter: drop-shadow(20px -18px 25px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.2941176471));
  }

  to {
    filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #aba49e);
  }
}/*# sourceMappingURL=style.css.map */